<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="SMS">
    <test name="SMS" enabled="true" preserve-order="true">
        <groups>
            <run>
                <exclude name="sendPushNotification"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.gotify.test.PushMessageTests"/>
        </classes>
    </test>
</suite>
